/* You can add global styles to this file, and also import other style files */
body {
    overflow: hidden;
}
svg {
    width: 100% !important;
    height: 100% !important;
}
.card-body {
    height: calc(100vh - 8vh);
}
.card {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
#chart {
    height: 100%;
}
.sunburst-viz {
    height: 100%;
}
